.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

.text-primary-alt {
  color: $blood !important;
}

a {
  color: $primary;
  &:hover,
  &:focus,
  &:active {
    color: darken($primary, 15%);
  }
}
